* {
    background-color: black;
}

.dropdown .btn {
    background-color: rgba(247, 156, 255, 0.279);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    border-radius: 2rem;
    text-align: center;
    max-width: max-content;
}

.dropdown .dropdown-menu {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;

}

.dropdown .dropdown-menu .dropdown-item:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(76, 0, 83);
}

.dropdown .dropdown-menu .dropdown-item {
    background-color: white;
}